*{
    font-size:13px;
    font-family: sans-serif;
}
body
{
    margin:0;
    padding:0;
}

.main_header,footer
{
    width:100%;
    background-color:#464F4F;

}

.site-logo a
{
    display:block;
    color:white;
    font-size: 24px;
    font-weight:bold;
    padding: 12px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
}

footer
{
    text-align:right;
    padding:6px 0;
}

footer a
{
    margin:0 6px;
    color:white;
}

#success
{
    color: white;
    font-size: 20px;
    font-weight:bold;

    padding: 8px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.35);
    border:2px solid #3bb02b;
    border-radius:8px;
    background-color:#90DE95;
}

#wrapper
{
    position:relative;
    margin:24px auto;
    width:980px;
}

.block
{
    position:relative;
    float:left;
    background-color:#DAEAEB;
    border:2px solid #84BCBF;
    border-radius:8px;
    margin-right:12px;
    margin-top:20px;

}
.block:last-child
{
    margin-right:0;
}

.block h2
{
    font-size:16px;
    font-weight:bold;
    margin:0;
    padding:0;
    color: #26545E;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
}

.inner-block
{
    padding:16px 12px;
}

.inner-block table
{
    width:100%;
}

.inner-block td
{
    width:50%
}

.clear
{
    content:"";
    padding-top:24px;
    clear:left;
}