<!DOCTYPE html>

<html>
    <head>
        {% block head %}
            <title> {% block title %} Projectes web 2016 {% endblock %} </title>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/estils.css">

        {% endblock %}

    </head>

    <body>
        <div class="main_header">
            <header>
                <div class="site-logo" name="top"><a href="/index">Frameworklite</a></div>
            </header>
        </div>
        <div id="wrapper">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            {% block footer %}
                <a href="#top">Porta'm a l'inici</a>
            {% endblock %}
        </footer>

    </body>

</html>