{% extends "base.twig" %}

{% block content %}

<div id="success">Felicitacions! Ja tens el Framework instal·lat!</div>

<div class="block">
    <div class="inner-block">
        <h2>Exemple Formulari</h2>
        {% if nom_usuari  %}
        <p>Benvingut a Projectes Web, <strong>{{ nom_usuari }} </strong>!</p>
        {% else %}
        <p>Hola! Com et dius? </p>
        <form action="" method="POST">
            <input type="text" name="nom">
            <input type="submit" name="submit" value="Enviar">
        </form>
        {% endif %}
    </div>
</div>

<div class="clear"></div>

{% endblock %}